In [28]:
# import shapefile
import numpy as np
import geopandas as gpd
import pandas as pd
import ndjson
from shapely.geometry import Polygon, Point
import os, glob

In [2]:
# shapefile
sf = gpd.read_file("/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/sd2010zw_region/woonbrt10_region.shp")
sf1 = sf.to_crs(4326)
# sf1

In [268]:
# socio-economic indicators per nbhd
indicators = pd.read_csv('mod_indicators_2020.csv',index_col=[0])
# indicators

,neighborhood,type of region,code,population (count),age 15-25 (%),age 25-45 (%),age 45-65 (%),age >65 (%),migrants (%),Western migrants (%),non-Western migrants (%),education low (%),education secondary (%),education high (%),property value (x1000 euro),income per inhabitant (x1000 euro),40% with lowest income (%),20% with highest income (%)
0,Amsterdam,Gemeente,GM0363,872757,12.45,36.40,24.10,12.71,55.57,19.50,36.07,NaN,23.66,38.84,415.0,32.4,39.7,24.6
1,Burgwallen-Oude Zijde,Wijk,WK036300,4465,15.57,49.05,21.05,9.52,51.18,33.82,17.36,10.08,25.98,56.89,469.0,32.8,40.5,22.5
2,Kop Zeedijk,Buurt,BU03630000,1100,11.36,52.27,25.00,6.82,54.09,35.91,18.18,3.64,31.82,60.91,423.0,37.0,33.0,27.7
3,Oude Kerk e.o.,Buurt,BU03630001,730,17.81,50.68,17.81,9.59,51.37,34.25,17.12,27.40,20.55,39.73,431.0,31.5,43.3,19.2
4,Burgwallen Oost,Buurt,BU03630002,1615,15.79,48.30,19.20,10.84,53.25,33.44,19.81,9.91,27.24,55.11,462.0,29.2,43.7,18.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,Gein Noordoost,Buurt,BU03639702,3265,12.25,21.44,34.30,18.38,48.55,14.70,33.84,16.54,37.37,28.18,318.0,29.5,31.1,22.4
575,Gein Zuidoost,Buurt,BU03639703,3375,10.07,27.11,30.37,17.93,62.22,10.96,51.26,23.11,31.41,25.48,258.0,24.4,41.8,13.8
576,Driemond,Wijk,WK036398,1625,11.69,21.54,30.46,17.54,21.23,9.85,11.38,16.62,36.92,21.54,357.0,28.5,36.8,22.6
577,Dorp Driemond,Buurt,BU03639800,1490,11.74,21.48,30.54,18.79,21.81,10.07,11.74,16.78,37.58,20.81,333.0,28.4,37.0,21.5
578,Landelijk gebied Driemond,Buurt,BU03639801,135,14.81,22.22,29.63,7.41,11.11,7.41,3.70,14.81,22.22,37.04,758.0,29.6,NaN,NaN

## OSM

In [157]:
classes = ['gentrified', 'non-gentrified']
root = '/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/OSM'

dirs = [glob.glob(os.path.join(root, c)) for c in classes]
# for dir in dirs:
#     print(dir[0])
dirs[0][0] # gentrified
# dirs[1][0] # non-gentrified

'/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/OSM/gentrified'

In [321]:
root = '/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/OSM/gentrified'
folders = glob.glob(os.path.join(root, '*'))

for i,folder in enumerate(folders[0:5]):
    coord = os.path.split(folder)[1].split('-')[1].split('_')[3:5] # get image coordinates in folder name
    print(coord)
    # coord = Point([float(x) for x in coord]) # turn into points

    # print(i,'--', os.path.split(folder)[1])
    
    # for i,row in sf1.iterrows():    # sf1: Geopandas df with geometry transformed to lon-lat (EPSG:4326)
    #     if row['geometry'].contains(coord):
    #         nbhd = row['BCNAAM']
    #         print(coord, '--', nbhd)

['4.8272414366203', '52.3549889568876']
['4.82684351091589', '52.3551804351019']
['4.82677351379842', '52.3551702410545']
['4.82684351091589', '52.3551804351019']
['4.82714364531735', '52.3548132272462']

## StreetSwipe

In [80]:
with open('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/post_202007/data-light-latest.ndjson') as f:
    file = ndjson.load(f)
df_post = pd.json_normalize(file, 'annotations', ['id']).drop(columns=['data.name','data.urls.square.jpg'])
df_post = df_post[['id','data.geometry.coordinates']]
df_post.rename(columns={'data.geometry.coordinates':'lon-lat'}, inplace = True)
df_post

                      id                  lon-lat
0    osm:node:1223236885   [4.893005, 52.3799291]
1    osm:node:1772991829   [4.8895298, 52.368966]
2    osm:node:1977672311  [4.8026959, 52.3589167]
3    osm:node:2507166317   [4.8995483, 52.356797]
4    osm:node:2724000369  [4.8906526, 52.3689837]
..                   ...                      ...
524  osm:node:1174575276  [4.9004653, 52.3743281]
525  osm:node:2423888952  [4.8750168, 52.3635585]
526  osm:node:1103394120  [4.8888766, 52.3695703]
527  osm:node:1223057252    [4.8872544, 52.38277]
528   osm:node:251150452  [4.8957017, 52.3737158]

[529 rows x 2 columns]

In [81]:
gdf_post = gpd.GeoDataFrame(df_post,
                            geometry=gpd.points_from_xy(df_post['lon-lat'].str[0], df_post['lon-lat'].str[1]),
                            crs="EPSG:4326")
gdf_post

                      id                  lon-lat                  geometry
0    osm:node:1223236885   [4.893005, 52.3799291]  POINT (4.89300 52.37993)
1    osm:node:1772991829   [4.8895298, 52.368966]  POINT (4.88953 52.36897)
2    osm:node:1977672311  [4.8026959, 52.3589167]  POINT (4.80270 52.35892)
3    osm:node:2507166317   [4.8995483, 52.356797]  POINT (4.89955 52.35680)
4    osm:node:2724000369  [4.8906526, 52.3689837]  POINT (4.89065 52.36898)
..                   ...                      ...                       ...
524  osm:node:1174575276  [4.9004653, 52.3743281]  POINT (4.90047 52.37433)
525  osm:node:2423888952  [4.8750168, 52.3635585]  POINT (4.87502 52.36356)
526  osm:node:1103394120  [4.8888766, 52.3695703]  POINT (4.88888 52.36957)
527  osm:node:1223057252    [4.8872544, 52.38277]  POINT (4.88725 52.38277)
528   osm:node:251150452  [4.8957017, 52.3737158]  POINT (4.89570 52.37372)

[529 rows x 3 columns]

In [82]:
sf1['nbhd_geom'] = sf1.geometry
df_nbhd_post = gpd.sjoin(gdf_post, sf1, predicate='intersects', how='left')[['id','lon-lat','geometry','BCNAAM','nbhd_geom']]
df_nbhd_post.rename(columns={'BCNAAM':'neighborhood'}, inplace = True)
df_nbhd_post

,id,lon-lat,geometry,neighborhood,nbhd_geom
0,osm:node:1223236885,"[4.893005, 52.3799291]",POINT (4.89300 52.37993),Haarlemmerbuurt Oost,"POLYGON ((4.89396 52.37882, 4.89019 52.37965, ..."
1,osm:node:1772991829,"[4.8895298, 52.368966]",POINT (4.88953 52.36897),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ..."
2,osm:node:1977672311,"[4.8026959, 52.3589167]",POINT (4.80270 52.35892),Osdorpplein e.o.,"POLYGON ((4.80079 52.35517, 4.79920 52.35799, ..."
3,osm:node:2507166317,"[4.8995483, 52.356797]",POINT (4.89955 52.35680),Sarphatiparkbuurt,"POLYGON ((4.89697 52.35689, 4.89848 52.35734, ..."
4,osm:node:2724000369,"[4.8906526, 52.3689837]",POINT (4.89065 52.36898),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ..."
...,...,...,...,...,...
524,osm:node:1174575276,"[4.9004653, 52.3743281]",POINT (4.90047 52.37433),Burgwallen Oost,"POLYGON ((4.89574 52.37185, 4.89939 52.37473, ..."
525,osm:node:2423888952,"[4.8750168, 52.3635585]",POINT (4.87502 52.36356),Helmersbuurt Oost,"POLYGON ((4.87754 52.36678, 4.87888 52.36570, ..."
526,osm:node:1103394120,"[4.8888766, 52.3695703]",POINT (4.88888 52.36957),Spuistraat Zuid,"POLYGON ((4.88787 52.36876, 4.88840 52.37215, ..."
527,osm:node:1223057252,"[4.8872544, 52.38277]",POINT (4.88725 52.38277),Haarlemmerbuurt West,"POLYGON ((4.88419 52.38569, 4.89032 52.38254, ..."
528,osm:node:251150452,"[4.8957017, 52.3737158]",POINT (4.89570 52.37372),Oude Kerk e.o.,"POLYGON ((4.89574 52.37185, 4.89413 52.37240, ..."

In [83]:
scores_post = pd.read_csv("/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/post_202007/ss_afb_scores.csv", names = ['id','yes','no'] )
scores_post["label"] = np.where(scores_post['yes'] > scores_post['no'], "gentrified", "non-gentrified")
scores_post = scores_post.drop(columns=['yes', 'no'])
scores_post

                                 id           label
0    faillissementsdossier:24368214  non-gentrified
1    faillissementsdossier:33251073  non-gentrified
2    faillissementsdossier:60624485  non-gentrified
3    faillissementsdossier:63432250  non-gentrified
4    faillissementsdossier:63453428      gentrified
..                              ...             ...
526             osm:node:7020259827  non-gentrified
527              osm:node:746910501  non-gentrified
528              osm:node:936580930  non-gentrified
529               osm:way:499929237      gentrified
530                osm:way:89431697  non-gentrified

[531 rows x 2 columns]

In [84]:
df_nbhd_post = df_nbhd_post.merge(scores_post)[['id','label','lon-lat','geometry','neighborhood','nbhd_geom']]

In [86]:
df_nbhd_post['id'] = df_nbhd_post['id'].str.replace(':','-') + '.jpg'
df_nbhd_post

,id,label,lon-lat,geometry,neighborhood,nbhd_geom
0,osm-node-1223236885.jpg,gentrified,"[4.893005, 52.3799291]",POINT (4.89300 52.37993),Haarlemmerbuurt Oost,"POLYGON ((4.89396 52.37882, 4.89019 52.37965, ..."
1,osm-node-1772991829.jpg,non-gentrified,"[4.8895298, 52.368966]",POINT (4.88953 52.36897),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ..."
2,osm-node-1977672311.jpg,non-gentrified,"[4.8026959, 52.3589167]",POINT (4.80270 52.35892),Osdorpplein e.o.,"POLYGON ((4.80079 52.35517, 4.79920 52.35799, ..."
3,osm-node-2507166317.jpg,non-gentrified,"[4.8995483, 52.356797]",POINT (4.89955 52.35680),Sarphatiparkbuurt,"POLYGON ((4.89697 52.35689, 4.89848 52.35734, ..."
4,osm-node-2724000369.jpg,non-gentrified,"[4.8906526, 52.3689837]",POINT (4.89065 52.36898),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ..."
...,...,...,...,...,...,...
524,osm-node-1174575276.jpg,non-gentrified,"[4.9004653, 52.3743281]",POINT (4.90047 52.37433),Burgwallen Oost,"POLYGON ((4.89574 52.37185, 4.89939 52.37473, ..."
525,osm-node-2423888952.jpg,non-gentrified,"[4.8750168, 52.3635585]",POINT (4.87502 52.36356),Helmersbuurt Oost,"POLYGON ((4.87754 52.36678, 4.87888 52.36570, ..."
526,osm-node-1103394120.jpg,non-gentrified,"[4.8888766, 52.3695703]",POINT (4.88888 52.36957),Spuistraat Zuid,"POLYGON ((4.88787 52.36876, 4.88840 52.37215, ..."
527,osm-node-1223057252.jpg,non-gentrified,"[4.8872544, 52.38277]",POINT (4.88725 52.38277),Haarlemmerbuurt West,"POLYGON ((4.88419 52.38569, 4.89032 52.38254, ..."
528,osm-node-251150452.jpg,gentrified,"[4.8957017, 52.3737158]",POINT (4.89570 52.37372),Oude Kerk e.o.,"POLYGON ((4.89574 52.37185, 4.89413 52.37240, ..."

In [382]:
# df_nbhd_post.to_csv('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/post_202007/df_nbhd_post.csv')

In [87]:
with open('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/post_202007/data-raw-latest.ndjson') as f:
    file = ndjson.load(f)
df = pd.json_normalize(file, 'annotations', ['id'])
df = df[['id','data.year']]
df = df[df['data.year']<2015].reset_index(drop=True) # data before 2015 - to be excluded
df['id'] = df['id'].str.replace(':','-') + '.jpg'
df['data.year'] = df['data.year'].astype('int')
df

                         id  data.year
0   osm-node-2816318755.jpg       2009
1   osm-node-4688265763.jpg       2009
2   osm-node-2848302824.jpg       2008
3   osm-node-2848701163.jpg       2014
4   osm-node-2848301407.jpg       2008
..                      ...        ...
84  osm-node-1310974815.jpg       2009
85  osm-node-2451055491.jpg       2010
86  osm-node-2754640987.jpg       2014
87  osm-node-1721802758.jpg       2014
88  osm-node-1591108281.jpg       2010

[89 rows x 2 columns]

In [88]:
df_nbhd_post[df_nbhd_post['id'].isin(df['id'])]

,id,label,lon-lat,geometry,neighborhood,nbhd_geom
34,osm-node-2816318755.jpg,non-gentrified,"[4.8684751, 52.3551475]",POINT (4.86848 52.35515),Cornelis Schuytbuurt,"POLYGON ((4.87385 52.35812, 4.87507 52.35649, ..."
85,osm-node-2848701163.jpg,non-gentrified,"[4.9127267, 52.3835891]",POINT (4.91273 52.38359),Vogelbuurt Zuid,"POLYGON ((4.91031 52.38330, 4.91013 52.38339, ..."
413,osm-node-1221258124.jpg,gentrified,"[4.8941167, 52.3677668]",POINT (4.89412 52.36777),BG-terrein e.o.,"POLYGON ((4.89574 52.37185, 4.89675 52.37152, ..."
476,osm-node-4294260145.jpg,non-gentrified,"[4.8635849, 52.3651504]",POINT (4.86358 52.36515),Bellamybuurt Zuid,"POLYGON ((4.86239 52.36717, 4.86720 52.36833, ..."

In [99]:
df_nbhd_post_latest = df_nbhd_post.drop(df_nbhd_post[df_nbhd_post['id'].isin(df['id'])].index).reset_index(drop=True)
df_nbhd_post_latest

,id,label,lon-lat,geometry,neighborhood,nbhd_geom
0,osm-node-1223236885.jpg,gentrified,"[4.893005, 52.3799291]",POINT (4.89300 52.37993),Haarlemmerbuurt Oost,"POLYGON ((4.89396 52.37882, 4.89019 52.37965, ..."
1,osm-node-1772991829.jpg,non-gentrified,"[4.8895298, 52.368966]",POINT (4.88953 52.36897),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ..."
2,osm-node-1977672311.jpg,non-gentrified,"[4.8026959, 52.3589167]",POINT (4.80270 52.35892),Osdorpplein e.o.,"POLYGON ((4.80079 52.35517, 4.79920 52.35799, ..."
3,osm-node-2507166317.jpg,non-gentrified,"[4.8995483, 52.356797]",POINT (4.89955 52.35680),Sarphatiparkbuurt,"POLYGON ((4.89697 52.35689, 4.89848 52.35734, ..."
4,osm-node-2724000369.jpg,non-gentrified,"[4.8906526, 52.3689837]",POINT (4.89065 52.36898),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ..."
...,...,...,...,...,...,...
520,osm-node-1174575276.jpg,non-gentrified,"[4.9004653, 52.3743281]",POINT (4.90047 52.37433),Burgwallen Oost,"POLYGON ((4.89574 52.37185, 4.89939 52.37473, ..."
521,osm-node-2423888952.jpg,non-gentrified,"[4.8750168, 52.3635585]",POINT (4.87502 52.36356),Helmersbuurt Oost,"POLYGON ((4.87754 52.36678, 4.87888 52.36570, ..."
522,osm-node-1103394120.jpg,non-gentrified,"[4.8888766, 52.3695703]",POINT (4.88888 52.36957),Spuistraat Zuid,"POLYGON ((4.88787 52.36876, 4.88840 52.37215, ..."
523,osm-node-1223057252.jpg,non-gentrified,"[4.8872544, 52.38277]",POINT (4.88725 52.38277),Haarlemmerbuurt West,"POLYGON ((4.88419 52.38569, 4.89032 52.38254, ..."
524,osm-node-251150452.jpg,gentrified,"[4.8957017, 52.3737158]",POINT (4.89570 52.37372),Oude Kerk e.o.,"POLYGON ((4.89574 52.37185, 4.89413 52.37240, ..."

In [100]:
# df_nbhd_post_latest.to_csv('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/post_202007/df_nbhd_post_latest.csv')

# ---------------------------------------------------------

In [102]:
df_pre = pd.read_csv('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/pre_202007/ss_afb_data.csv',
                     names=['id','year','city','street','lat','lon','img'])
df_pre = df_pre[['id','year','lat','lon']]
df_pre['lon'] = df_pre['lon'].replace("_", ".", regex=True)
df_pre['lat'] = df_pre['lat'].replace("_", ".", regex=True)
df_pre

        id  year         lat        lon
0        1  2009   52.350363  4.8572846
1        2  2009  52.3504455  4.8572465
2        3  2009  52.3504851  4.8572272
3        4  2009  52.3507459  4.8570525
4        5  2009  52.3508895  4.8569911
...    ...   ...         ...        ...
1907  1908  2019  52.3710722  4.8589981
1908  1909  2019  52.3711629  4.8589827
1909  1910  2013         NaN        NaN
1910  1911  2016         NaN        NaN
1911  1912  2017         NaN        NaN

[1912 rows x 4 columns]

In [103]:
gdf_pre = gpd.GeoDataFrame(df_pre,
                           geometry=gpd.points_from_xy(df_pre['lon'], df_pre['lat']),
                           crs="EPSG:4326")
gdf_pre

        id  year         lat        lon                  geometry
0        1  2009   52.350363  4.8572846  POINT (4.85728 52.35036)
1        2  2009  52.3504455  4.8572465  POINT (4.85725 52.35045)
2        3  2009  52.3504851  4.8572272  POINT (4.85723 52.35049)
3        4  2009  52.3507459  4.8570525  POINT (4.85705 52.35075)
4        5  2009  52.3508895  4.8569911  POINT (4.85699 52.35089)
...    ...   ...         ...        ...                       ...
1907  1908  2019  52.3710722  4.8589981  POINT (4.85900 52.37107)
1908  1909  2019  52.3711629  4.8589827  POINT (4.85898 52.37116)
1909  1910  2013         NaN        NaN               POINT EMPTY
1910  1911  2016         NaN        NaN               POINT EMPTY
1911  1912  2017         NaN        NaN               POINT EMPTY

[1912 rows x 5 columns]

In [104]:
df_nbhd_pre = gpd.sjoin(gdf_pre, sf1, predicate='intersects', how='left')[['id','year','lon','lat','geometry','BCNAAM','nbhd_geom']]
df_nbhd_pre.rename(columns={'BCNAAM':'neighborhood'}, inplace = True)
df_nbhd_pre['lon-lat'] = df_nbhd_pre[['lon', 'lat']].values.tolist()
df_nbhd_pre = df_nbhd_pre[['id','year', 'lon-lat', 'geometry', 'neighborhood', 'nbhd_geom']]
df_nbhd_pre

,id,year,lon-lat,geometry,neighborhood,nbhd_geom
0,1,2009,"[4.8572846, 52.350363]",POINT (4.85728 52.35036),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
1,2,2009,"[4.8572465, 52.3504455]",POINT (4.85725 52.35045),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
2,3,2009,"[4.8572272, 52.3504851]",POINT (4.85723 52.35049),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
3,4,2009,"[4.8570525, 52.3507459]",POINT (4.85705 52.35075),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
4,5,2009,"[4.8569911, 52.3508895]",POINT (4.85699 52.35089),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
...,...,...,...,...,...,...
1907,1908,2019,"[4.8589981, 52.3710722]",POINT (4.85900 52.37107),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
1908,1909,2019,"[4.8589827, 52.3711629]",POINT (4.85898 52.37116),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
1909,1910,2013,"[nan, nan]",POINT EMPTY,NaN,None
1910,1911,2016,"[nan, nan]",POINT EMPTY,NaN,None
1911,1912,2017,"[nan, nan]",POINT EMPTY,NaN,None

In [105]:
scores_pre = pd.read_csv("/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/pre_202007/ss_afb_scores.csv", names = ['id','yes','no'])
scores_pre["label"] = np.where(scores_pre['yes'] > scores_pre['no'], "gentrified", "non-gentrified")
scores_pre = scores_pre.drop(columns=['yes', 'no'])
scores_pre

        id           label
0        1  non-gentrified
1        2  non-gentrified
2        3  non-gentrified
3        4  non-gentrified
4        5  non-gentrified
...    ...             ...
1907  1908      gentrified
1908  1909      gentrified
1909  1910  non-gentrified
1910  1911  non-gentrified
1911  1912      gentrified

[1912 rows x 2 columns]

In [106]:
df_nbhd_pre = df_nbhd_pre.merge(scores_pre)[['id','label','year','lon-lat','geometry','neighborhood','nbhd_geom']]
df_nbhd_pre

,id,label,year,lon-lat,geometry,neighborhood,nbhd_geom
0,1,non-gentrified,2009,"[4.8572846, 52.350363]",POINT (4.85728 52.35036),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
1,2,non-gentrified,2009,"[4.8572465, 52.3504455]",POINT (4.85725 52.35045),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
2,3,non-gentrified,2009,"[4.8572272, 52.3504851]",POINT (4.85723 52.35049),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
3,4,non-gentrified,2009,"[4.8570525, 52.3507459]",POINT (4.85705 52.35075),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
4,5,non-gentrified,2009,"[4.8569911, 52.3508895]",POINT (4.85699 52.35089),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
...,...,...,...,...,...,...,...
1907,1908,gentrified,2019,"[4.8589981, 52.3710722]",POINT (4.85900 52.37107),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
1908,1909,gentrified,2019,"[4.8589827, 52.3711629]",POINT (4.85898 52.37116),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
1909,1910,non-gentrified,2013,"[nan, nan]",POINT EMPTY,NaN,None
1910,1911,non-gentrified,2016,"[nan, nan]",POINT EMPTY,NaN,None
1911,1912,gentrified,2017,"[nan, nan]",POINT EMPTY,NaN,None

In [107]:
df_nbhd_pre['id'] = df_nbhd_pre['id'].astype(str) + '.jpg'
df_nbhd_pre

,id,label,year,lon-lat,geometry,neighborhood,nbhd_geom
0,1.jpg,non-gentrified,2009,"[4.8572846, 52.350363]",POINT (4.85728 52.35036),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
1,2.jpg,non-gentrified,2009,"[4.8572465, 52.3504455]",POINT (4.85725 52.35045),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
2,3.jpg,non-gentrified,2009,"[4.8572272, 52.3504851]",POINT (4.85723 52.35049),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
3,4.jpg,non-gentrified,2009,"[4.8570525, 52.3507459]",POINT (4.85705 52.35075),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
4,5.jpg,non-gentrified,2009,"[4.8569911, 52.3508895]",POINT (4.85699 52.35089),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
...,...,...,...,...,...,...,...
1907,1908.jpg,gentrified,2019,"[4.8589981, 52.3710722]",POINT (4.85900 52.37107),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
1908,1909.jpg,gentrified,2019,"[4.8589827, 52.3711629]",POINT (4.85898 52.37116),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
1909,1910.jpg,non-gentrified,2013,"[nan, nan]",POINT EMPTY,NaN,None
1910,1911.jpg,non-gentrified,2016,"[nan, nan]",POINT EMPTY,NaN,None
1911,1912.jpg,gentrified,2017,"[nan, nan]",POINT EMPTY,NaN,None

In [391]:
# df_nbhd_pre.to_csv('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/pre_202007/df_nbhd_pre.csv')

In [108]:
df_nbhd_pre_latest = df_nbhd_pre[df_nbhd_pre['year']>2015].reset_index(drop=True)
df_nbhd_pre_latest

,id,label,year,lon-lat,geometry,neighborhood,nbhd_geom
0,989.jpg,non-gentrified,2019,"[4.8567896, 52.3509986]",POINT (4.85679 52.35100),Schinkelbuurt Zuid,"POLYGON ((4.85736 52.34981, 4.85758 52.34736, ..."
1,990.jpg,gentrified,2019,"[4.856756, 52.3510857]",POINT (4.85676 52.35109),Schinkelbuurt Zuid,"POLYGON ((4.85736 52.34981, 4.85758 52.34736, ..."
2,991.jpg,non-gentrified,2019,"[4.8567395, 52.3511292]",POINT (4.85674 52.35113),Schinkelbuurt Zuid,"POLYGON ((4.85736 52.34981, 4.85758 52.34736, ..."
3,992.jpg,gentrified,2019,"[4.8568939, 52.3512008]",POINT (4.85689 52.35120),Valeriusbuurt West,"POLYGON ((4.86351 52.35321, 4.86381 52.35281, ..."
4,993.jpg,gentrified,2019,"[4.8567025, 52.3512191]",POINT (4.85670 52.35122),Schinkelbuurt Zuid,"POLYGON ((4.85736 52.34981, 4.85758 52.34736, ..."
...,...,...,...,...,...,...,...
918,1907.jpg,gentrified,2019,"[4.8588978, 52.3710092]",POINT (4.85890 52.37101),Filips van Almondekwartier,"POLYGON ((4.85883 52.37143, 4.85924 52.36931, ..."
919,1908.jpg,gentrified,2019,"[4.8589981, 52.3710722]",POINT (4.85900 52.37107),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
920,1909.jpg,gentrified,2019,"[4.8589827, 52.3711629]",POINT (4.85898 52.37116),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ..."
921,1911.jpg,non-gentrified,2016,"[nan, nan]",POINT EMPTY,NaN,None
922,1912.jpg,gentrified,2017,"[nan, nan]",POINT EMPTY,NaN,None

In [395]:
# df_nbhd_pre_latest.to_csv('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/database/pre_202007/df_nbhd_pre_latest.csv')

In [109]:
df_nbhd_pre_latest = df_nbhd_pre_latest.drop(columns=['year'])

In [110]:
print(df_nbhd_post_latest.columns)
print(df_nbhd_pre_latest.columns)

Index(['id', 'label', 'lon-lat', 'geometry', 'neighborhood', 'nbhd_geom'], dtype='object')
Index(['id', 'label', 'lon-lat', 'geometry', 'neighborhood', 'nbhd_geom'], dtype='object')

In [111]:
print(df_nbhd_post_latest.shape[0], '--', df_nbhd_post_latest.dropna().shape[0])
print(df_nbhd_pre_latest.shape[0], '--', df_nbhd_pre_latest.dropna().shape[0])

525 -- 502
923 -- 490

In [124]:
df_stsw_latest = pd.concat([df_nbhd_post_latest, df_nbhd_pre_latest]).reset_index(drop=True)
len(df_stsw_latest)

1448

#### Indicators

In [207]:
len(df_stsw_latest[df_stsw_latest['neighborhood'].isin(indicators['neighborhood'])])
# df_stsw_latest['neighborhood'].isin(indicators['neighborhood'])

874

In [208]:
df_stsw_latest = df_stsw_latest.merge(indicators, how='left')
df_stsw_latest

,id,label,lon-lat,geometry,neighborhood,nbhd_geom,type of region,code,population (count),age 15-25 (%),...,migrants (%),Western migrants (%),non-Western migrants (%),education low (%),education secondary (%),education high (%),property value (x1000 euro),income per inhabitant (x1000 euro),40% with lowest income (%),20% with highest income (%)
0,osm-node-1223236885.jpg,gentrified,"[4.893005, 52.3799291]",POINT (4.89300 52.37993),Haarlemmerbuurt Oost,"POLYGON ((4.89396 52.37882, 4.89019 52.37965, ...",Buurt,BU03630501,1490.0,10.74,...,41.28,27.18,14.09,10.07,20.13,57.72,518.0,36.9,34.9,29.6
1,osm-node-1772991829.jpg,non-gentrified,"[4.8895298, 52.368966]",POINT (4.88953 52.36897),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ...",Buurt,BU03630106,415.0,12.05,...,51.81,33.73,18.07,4.82,19.28,69.88,488.0,34.5,36.1,23.1
2,osm-node-1977672311.jpg,non-gentrified,"[4.8026959, 52.3589167]",POINT (4.80270 52.35892),Osdorpplein e.o.,"POLYGON ((4.80079 52.35517, 4.79920 52.35799, ...",Buurt,BU03638102,3275.0,13.44,...,74.66,12.52,62.14,25.34,30.53,33.89,298.0,22.2,46.5,16.3
3,osm-node-2507166317.jpg,non-gentrified,"[4.8995483, 52.356797]",POINT (4.89955 52.35680),Sarphatiparkbuurt,"POLYGON ((4.89697 52.35689, 4.89848 52.35734, ...",Buurt,BU03632404,5005.0,12.49,...,47.05,27.97,19.08,18.18,17.18,54.15,438.0,38.7,34.1,29.4
4,osm-node-2724000369.jpg,non-gentrified,"[4.8906526, 52.3689837]",POINT (4.89065 52.36898),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ...",Buurt,BU03630106,415.0,12.05,...,51.81,33.73,18.07,4.82,19.28,69.88,488.0,34.5,36.1,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,1907.jpg,gentrified,"[4.8588978, 52.3710092]",POINT (4.85890 52.37101),Filips van Almondekwartier,"POLYGON ((4.85883 52.37143, 4.85924 52.36931, ...",Buurt,BU03637501,1105.0,11.31,...,48.87,23.08,25.79,12.67,18.10,51.58,421.0,37.1,31.6,33.2
1446,1908.jpg,gentrified,"[4.8589981, 52.3710722]",POINT (4.85900 52.37107),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ...",Buurt,BU03637500,2220.0,13.74,...,48.20,20.50,27.70,16.67,22.52,45.05,446.0,30.2,40.5,24.9
1447,1909.jpg,gentrified,"[4.8589827, 52.3711629]",POINT (4.85898 52.37116),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ...",Buurt,BU03637500,2220.0,13.74,...,48.20,20.50,27.70,16.67,22.52,45.05,446.0,30.2,40.5,24.9
1448,1911.jpg,non-gentrified,"[nan, nan]",POINT EMPTY,NaN,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1449,1912.jpg,gentrified,"[nan, nan]",POINT EMPTY,NaN,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [283]:
df_stsw_latest['id'] = df_stsw_latest['id'].str.split(".")
df_stsw_latest['id'] = df_stsw_latest['id'].str[0]
df_stsw_latest

,id,label,lon-lat,geometry,neighborhood,nbhd_geom,type of region,code,population (count),age 15-25 (%),...,migrants (%),Western migrants (%),non-Western migrants (%),education low (%),education secondary (%),education high (%),property value (x1000 euro),income per inhabitant (x1000 euro),40% with lowest income (%),20% with highest income (%)
0,osm-node-1223236885,gentrified,"[4.893005, 52.3799291]",POINT (4.89300 52.37993),Haarlemmerbuurt Oost,"POLYGON ((4.89396 52.37882, 4.89019 52.37965, ...",Buurt,BU03630501,1490.0,10.74,...,41.28,27.18,14.09,10.07,20.13,57.72,518.0,36.9,34.9,29.6
1,osm-node-1772991829,non-gentrified,"[4.8895298, 52.368966]",POINT (4.88953 52.36897),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ...",Buurt,BU03630106,415.0,12.05,...,51.81,33.73,18.07,4.82,19.28,69.88,488.0,34.5,36.1,23.1
2,osm-node-1977672311,non-gentrified,"[4.8026959, 52.3589167]",POINT (4.80270 52.35892),Osdorpplein e.o.,"POLYGON ((4.80079 52.35517, 4.79920 52.35799, ...",Buurt,BU03638102,3275.0,13.44,...,74.66,12.52,62.14,25.34,30.53,33.89,298.0,22.2,46.5,16.3
3,osm-node-2507166317,non-gentrified,"[4.8995483, 52.356797]",POINT (4.89955 52.35680),Sarphatiparkbuurt,"POLYGON ((4.89697 52.35689, 4.89848 52.35734, ...",Buurt,BU03632404,5005.0,12.49,...,47.05,27.97,19.08,18.18,17.18,54.15,438.0,38.7,34.1,29.4
4,osm-node-2724000369,non-gentrified,"[4.8906526, 52.3689837]",POINT (4.89065 52.36898),Begijnhofbuurt,"POLYGON ((4.89063 52.37261, 4.89122 52.37271, ...",Buurt,BU03630106,415.0,12.05,...,51.81,33.73,18.07,4.82,19.28,69.88,488.0,34.5,36.1,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,1907,gentrified,"[4.8588978, 52.3710092]",POINT (4.85890 52.37101),Filips van Almondekwartier,"POLYGON ((4.85883 52.37143, 4.85924 52.36931, ...",Buurt,BU03637501,1105.0,11.31,...,48.87,23.08,25.79,12.67,18.10,51.58,421.0,37.1,31.6,33.2
1446,1908,gentrified,"[4.8589981, 52.3710722]",POINT (4.85900 52.37107),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ...",Buurt,BU03637500,2220.0,13.74,...,48.20,20.50,27.70,16.67,22.52,45.05,446.0,30.2,40.5,24.9
1447,1909,gentrified,"[4.8589827, 52.3711629]",POINT (4.85898 52.37116),Kortenaerkwartier,"POLYGON ((4.85991 52.37149, 4.86341 52.37082, ...",Buurt,BU03637500,2220.0,13.74,...,48.20,20.50,27.70,16.67,22.52,45.05,446.0,30.2,40.5,24.9
1448,1911,non-gentrified,"[nan, nan]",POINT EMPTY,NaN,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1449,1912,gentrified,"[nan, nan]",POINT EMPTY,NaN,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
df_stsw_latest.to_csv('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/StreetSwipe/df_stsw_latest.csv')

## AmsPano

In [260]:
root_d = '/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/AmsPano'
df_pano = pd.DataFrame(columns = ['id','label','lonlat','neighborhood'])

for c in glob.glob(os.path.join(root_d,"*")):
    label = os.path.split(c)[1]
    
    nbhd_dir = glob.glob(os.path.join(c, "*"))
    for n in nbhd_dir:
        neighborhood = os.path.split(n)[1]
        
        loc_dir = glob.glob(os.path.join(n, "*"))
        for l in loc_dir:          
            id_dir = glob.glob(os.path.join(l, "*[!.jpg]"))
            for i in id_dir:
                id = os.path.split(i)[1]
                lonlat = [os.path.split(i)[1].split('-')[1].split('_')[3:5]]
            
            dict = {'id':id, 'label':label, 'lonlat':lonlat, 'neighborhood':neighborhood}
            entry = pd.DataFrame.from_dict(dict)
            df_pano = pd.concat([df_pano, entry], ignore_index=True)
df_pano.rename(columns={'lonlat':'lon-lat'}, inplace=True)
df_pano

,id,label,lon-lat,neighborhood
0,20190513TMX7316010203-001178pano_0001_004104_4...,gentrified,"[4.87904431374453, 52.3719160051184]",Elandsgrachtbuurt
1,20210317TMX7316010203-002044pano_0000_000784_4...,gentrified,"[4.87976847022201, 52.3708683069787]",Elandsgrachtbuurt
2,20230220TMX7316010203-002978pano_0004_000038_4...,gentrified,"[4.88273090828026, 52.3733198656603]",Elandsgrachtbuurt
3,20220429TMX7316010203-002550pano_0000_000712_4...,gentrified,"[4.88010837247913, 52.3703502339621]",Elandsgrachtbuurt
4,20230116TMX7316010203-002939pano_0000_000094_4...,gentrified,"[4.88102143662789, 52.3727939863886]",Elandsgrachtbuurt
...,...,...,...,...
4167,20190611TMX7316010203-001213pano_0000_002817_4...,non-gentrified,"[4.98104983585991, 52.2950874855789]",Gaasperdam Zuid
4168,20200626TMX7316010203-001774pano_0000_001072_4...,non-gentrified,"[4.97729160064709, 52.2928014199608]",Gaasperdam Zuid
4169,20200131TMX7316010203-001615pano_0005_000115_4...,non-gentrified,"[4.97703853540859, 52.2932516046259]",Gaasperdam Zuid
4170,20220620TMX7316010203-002612pano_0002_000997_4...,non-gentrified,"[4.97800142839781, 52.2941163980353]",Gaasperdam Zuid
4171,20220118TMX7316010203-002424pano_0016_000031_4...,non-gentrified,"[4.97927995152462, 52.2955823873749]",Gaasperdam Zuid

In [262]:
gdf_pano = gpd.GeoDataFrame(df_pano,
                           geometry=gpd.points_from_xy(df_pano['lon-lat'].str[0], df_pano['lon-lat'].str[1]),
                           crs="EPSG:4326")
gdf_pano

,id,label,lon-lat,neighborhood,geometry
0,20190513TMX7316010203-001178pano_0001_004104_4...,gentrified,"[4.87904431374453, 52.3719160051184]",Elandsgrachtbuurt,POINT (4.87904 52.37192)
1,20210317TMX7316010203-002044pano_0000_000784_4...,gentrified,"[4.87976847022201, 52.3708683069787]",Elandsgrachtbuurt,POINT (4.87977 52.37087)
2,20230220TMX7316010203-002978pano_0004_000038_4...,gentrified,"[4.88273090828026, 52.3733198656603]",Elandsgrachtbuurt,POINT (4.88273 52.37332)
3,20220429TMX7316010203-002550pano_0000_000712_4...,gentrified,"[4.88010837247913, 52.3703502339621]",Elandsgrachtbuurt,POINT (4.88011 52.37035)
4,20230116TMX7316010203-002939pano_0000_000094_4...,gentrified,"[4.88102143662789, 52.3727939863886]",Elandsgrachtbuurt,POINT (4.88102 52.37279)
...,...,...,...,...,...
4167,20190611TMX7316010203-001213pano_0000_002817_4...,non-gentrified,"[4.98104983585991, 52.2950874855789]",Gaasperdam Zuid,POINT (4.98105 52.29509)
4168,20200626TMX7316010203-001774pano_0000_001072_4...,non-gentrified,"[4.97729160064709, 52.2928014199608]",Gaasperdam Zuid,POINT (4.97729 52.29280)
4169,20200131TMX7316010203-001615pano_0005_000115_4...,non-gentrified,"[4.97703853540859, 52.2932516046259]",Gaasperdam Zuid,POINT (4.97704 52.29325)
4170,20220620TMX7316010203-002612pano_0002_000997_4...,non-gentrified,"[4.97800142839781, 52.2941163980353]",Gaasperdam Zuid,POINT (4.97800 52.29412)
4171,20220118TMX7316010203-002424pano_0016_000031_4...,non-gentrified,"[4.97927995152462, 52.2955823873749]",Gaasperdam Zuid,POINT (4.97928 52.29558)

In [267]:
df_nbhd_pano = gpd.sjoin(gdf_pano, sf1, predicate='intersects', how='left')[['id','label','lon-lat','geometry','BCNAAM','nbhd_geom']]
df_nbhd_pano.rename(columns={'BCNAAM':'neighborhood'}, inplace = True)
df_nbhd_pano

,id,label,lon-lat,geometry,neighborhood,nbhd_geom
0,20190513TMX7316010203-001178pano_0001_004104_4...,gentrified,"[4.87904431374453, 52.3719160051184]",POINT (4.87904 52.37192),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ..."
1,20210317TMX7316010203-002044pano_0000_000784_4...,gentrified,"[4.87976847022201, 52.3708683069787]",POINT (4.87977 52.37087),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ..."
2,20230220TMX7316010203-002978pano_0004_000038_4...,gentrified,"[4.88273090828026, 52.3733198656603]",POINT (4.88273 52.37332),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ..."
3,20220429TMX7316010203-002550pano_0000_000712_4...,gentrified,"[4.88010837247913, 52.3703502339621]",POINT (4.88011 52.37035),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ..."
4,20230116TMX7316010203-002939pano_0000_000094_4...,gentrified,"[4.88102143662789, 52.3727939863886]",POINT (4.88102 52.37279),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ..."
...,...,...,...,...,...,...
4167,20190611TMX7316010203-001213pano_0000_002817_4...,non-gentrified,"[4.98104983585991, 52.2950874855789]",POINT (4.98105 52.29509),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ..."
4168,20200626TMX7316010203-001774pano_0000_001072_4...,non-gentrified,"[4.97729160064709, 52.2928014199608]",POINT (4.97729 52.29280),Reigersbos Zuid,"POLYGON ((4.96731 52.29119, 4.96772 52.29132, ..."
4169,20200131TMX7316010203-001615pano_0005_000115_4...,non-gentrified,"[4.97703853540859, 52.2932516046259]",POINT (4.97704 52.29325),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ..."
4170,20220620TMX7316010203-002612pano_0002_000997_4...,non-gentrified,"[4.97800142839781, 52.2941163980353]",POINT (4.97800 52.29412),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ..."
4171,20220118TMX7316010203-002424pano_0016_000031_4...,non-gentrified,"[4.97927995152462, 52.2955823873749]",POINT (4.97928 52.29558),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ..."

In [269]:
len(df_nbhd_pano[df_nbhd_pano['neighborhood'].isin(indicators['neighborhood'])])

4137

In [270]:
df_AmsPano = df_nbhd_pano.merge(indicators, how='left')
df_AmsPano

,id,label,lon-lat,geometry,neighborhood,nbhd_geom,type of region,code,population (count),age 15-25 (%),...,migrants (%),Western migrants (%),non-Western migrants (%),education low (%),education secondary (%),education high (%),property value (x1000 euro),income per inhabitant (x1000 euro),40% with lowest income (%),20% with highest income (%)
0,20190513TMX7316010203-001178pano_0001_004104_4...,gentrified,"[4.87904431374453, 52.3719160051184]",POINT (4.87904 52.37192),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ...",Buurt,BU03630606,4325.0,9.71,...,44.39,29.83,14.57,7.17,21.04,57.57,477.0,39.8,37.8,28.1
1,20210317TMX7316010203-002044pano_0000_000784_4...,gentrified,"[4.87976847022201, 52.3708683069787]",POINT (4.87977 52.37087),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ...",Buurt,BU03630606,4325.0,9.71,...,44.39,29.83,14.57,7.17,21.04,57.57,477.0,39.8,37.8,28.1
2,20230220TMX7316010203-002978pano_0004_000038_4...,gentrified,"[4.88273090828026, 52.3733198656603]",POINT (4.88273 52.37332),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ...",Buurt,BU03630606,4325.0,9.71,...,44.39,29.83,14.57,7.17,21.04,57.57,477.0,39.8,37.8,28.1
3,20220429TMX7316010203-002550pano_0000_000712_4...,gentrified,"[4.88010837247913, 52.3703502339621]",POINT (4.88011 52.37035),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ...",Buurt,BU03630606,4325.0,9.71,...,44.39,29.83,14.57,7.17,21.04,57.57,477.0,39.8,37.8,28.1
4,20230116TMX7316010203-002939pano_0000_000094_4...,gentrified,"[4.88102143662789, 52.3727939863886]",POINT (4.88102 52.37279),Elandsgrachtbuurt,"POLYGON ((4.88259 52.36892, 4.87908 52.36774, ...",Buurt,BU03630606,4325.0,9.71,...,44.39,29.83,14.57,7.17,21.04,57.57,477.0,39.8,37.8,28.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4167,20190611TMX7316010203-001213pano_0000_002817_4...,non-gentrified,"[4.98104983585991, 52.2950874855789]",POINT (4.98105 52.29509),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ...",Buurt,BU03639604,1510.0,12.91,...,71.19,12.25,58.94,31.79,27.15,23.18,212.0,23.0,47.0,10.5
4168,20200626TMX7316010203-001774pano_0000_001072_4...,non-gentrified,"[4.97729160064709, 52.2928014199608]",POINT (4.97729 52.29280),Reigersbos Zuid,"POLYGON ((4.96731 52.29119, 4.96772 52.29132, ...",Buurt,BU03639606,2570.0,10.51,...,60.89,12.84,48.05,21.40,32.68,23.35,286.0,25.3,39.7,15.9
4169,20200131TMX7316010203-001615pano_0005_000115_4...,non-gentrified,"[4.97703853540859, 52.2932516046259]",POINT (4.97704 52.29325),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ...",Buurt,BU03639604,1510.0,12.91,...,71.19,12.25,58.94,31.79,27.15,23.18,212.0,23.0,47.0,10.5
4170,20220620TMX7316010203-002612pano_0002_000997_4...,non-gentrified,"[4.97800142839781, 52.2941163980353]",POINT (4.97800 52.29412),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ...",Buurt,BU03639604,1510.0,12.91,...,71.19,12.25,58.94,31.79,27.15,23.18,212.0,23.0,47.0,10.5
4171,20220118TMX7316010203-002424pano_0016_000031_4...,non-gentrified,"[4.97927995152462, 52.2955823873749]",POINT (4.97928 52.29558),Gaasperdam Zuid,"POLYGON ((4.97416 52.29555, 4.97596 52.29585, ...",Buurt,BU03639604,1510.0,12.91,...,71.19,12.25,58.94,31.79,27.15,23.18,212.0,23.0,47.0,10.5

In [272]:
df_AmsPano.to_csv('/Users/vanh/Documents/Master/Thesis/w.nosync/MSc-Thesis-Gentrification-and-storefront-signage/Data/AmsPano/df_AmsPano.csv')