In [12]:
import overpy
from pprint import pprint
from ipyleaflet import Map, Marker, Icon
import pandas as pd

In [2]:
api = overpy.Overpass()

# 1

#### Gentrified

In [3]:
res_gen = api.query("""
(
    area[name="Amsterdam"];
    )->.city;

(   
    area[name="Jordaan"](area.city);
    area[name="Da Costabuurt"](area.city);
    area[name="Frederik Hendrikbuurt"](area.city);
    area[name="De Baarsjes"](area.city);
    area[name="Overtoomse Sluis"](area.city);
    area[name="Van Galenbuurt"](area.city);
    area[name="Westindische Buurt"](area.city);
    area[name="Hoofdweg"](area.city);
    )->.searchArea;

(
    node["shop"](area.searchArea);
    node["leisure"~"common|dance|fitness_centre|sports_centre"](area.searchArea);
    node["amenity"~"restaurant|food_court|fast_food|pub|cafe|bar|ice_cream|arts_centre|casino|cinema|community_centre|events_venue|exhibition_centre|music_venue|nightclub|social_centre|studio|theatre|pharmacy|social_facility"](area.searchArea);
);

out body;
""")

print(len(res_gen.nodes))
# for node in res_gen.nodes:
#     print("Lat: %f, Lon: %f" % (node.lat, node.lon))

611

In [4]:
gen_poi = []
for node in res_gen.nodes:
    gen_poi.append([float(node.lat), float(node.lon)])
# gen_poi[0:5]

In [7]:
df_gen = pd.DataFrame.from_records(gen_poi, columns=("lat","lon"))
# df_gen.to_csv('gentrified.csv', index=False)
df_gen

           lat       lon
0    52.364062  4.855153
1    52.378446  4.884454
2    52.369857  4.881981
3    52.368000  4.871000
4    52.375036  4.881341
..         ...       ...
606  52.373322  4.880995
607  52.373308  4.880921
608  52.380095  4.887279
609  52.380139  4.887533
610  52.370056  4.877716

[611 rows x 2 columns]

In [15]:
# def handle_click(**kwargs):
#     if kwargs.get('type') == 'click':
#         centroid = kwargs.get('coordinates')
#         icon = Icon(icon_url="https://static.vecteezy.com/system/resources/previews/013/760/669/original/map-location-pin-icon-in-red-colors-png.png")
#         m.add_layer(Marker(location=centroid, icon=icon))
#         print(centroid)

In [17]:
m = Map(center=(52.362609, 4.889516), zoom=13)
for point in gen_poi:
    marker = Marker(location=point, draggable=False)
    m.add_layer(marker)
# m.on_interaction(handle_click)
m

Map(center=[52.362609, 4.889516], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', …

#### Non-gentrified

In [11]:
res_nongen = api.query("""
(
  area[name="Amsterdam"];
  )->.city;

(
  area[name="Ganzenhoef"](area.city);
  area[name="De Kameleon"](area.city);
  area[name="Boodschappencentrum Holendrecht"](area.city);
  area[name="Winkelcentrum Reigersbos"](area.city);
  area[name="Sierplein"](area.city);
  area[name="Akerpoort"](area.city);
  area[name="winkelcentrum Dukaat"](area.city);
  way(256716733);
  way(265775621);
  way(63634709);
  way(63634710);
  way(26452871);way(26452870);
  way(62818980);way(62818978);
  way(46255335);
  )->.searchArea;

(
  node["shop"](area.searchArea);
  node["leisure"~"common|dance|fitness_centre|sports_centre"](area.searchArea);
  node["amenity"~"restaurant|food_court|fast_food|pub|cafe|bar|ice_cream|arts_centre|casino|cinema|community_centre|events_venue|exhibition_centre|music_venue|nightclub|social_centre|studio|theatre|pharmacy|social_facility"](area.searchArea);
);

out body;

""")

print(len(res_nongen.nodes))
# for node in res_nongen.nodes:
#     print("Lat: %f, Lon: %f" % (node.lat, node.lon))

494

In [12]:
nongen_poi = []
for node in res_nongen.nodes:
    nongen_poi.append([float(node.lat), float(node.lon)])
nongen_poi[0:5]

[[52.3549932, 4.8267734],
 [52.3497202, 4.786632],
 [52.3370141, 4.7813839],
 [52.3584417, 4.8276799],
 [52.3585173, 4.8268358]]

In [13]:
df_nongen = pd.DataFrame.from_records(nongen_poi, columns=("lat","lon"))
df_nongen

           lat       lon
0    52.354993  4.826773
1    52.349720  4.786632
2    52.337014  4.781384
3    52.358442  4.827680
4    52.358517  4.826836
..         ...       ...
489  52.359383  4.805959
490  52.377980  4.801517
491  52.357773  4.805365
492  52.316431  4.978937
493  52.316376  4.978983

[494 rows x 2 columns]

In [15]:
df_nongen.to_csv('non-gentrified.csv', index=False)

In [14]:
m = Map(center=(52.362609, 4.889516), zoom=12)
for point in nongen_poi:
    marker = Marker(location=point, draggable=False)
    m.add_layer(marker)
m

Map(center=[52.362609, 4.889516], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', …